* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}

header {
  display: flex;
  gap: 8px;
  margin-top: 30px;

}

main {
  margin-top: 30px;

}
